
.radioLabel {
  display: flex;
  align-items: center;
  gap: 12px;
}
.styledRadio {
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../../assets/radioEmpty.svg");
}
.radio {
  appearance: none;
  &:checked ~ .styledRadio {
    background: url("../../assets/radioChecked.svg");
  }
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.phoneTip {
  font-size: 0.75rem;
  color: #7e7e7e;
  &:invalid ~ .telInput {
    display: none;
  }
}
.telInput {
  margin-bottom: 4px;
}
.error {
  color: #cb3d40;
}
