:root {
  font-family: Nunito, sans-serif;
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #b4b4b4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

h1 {
  font-size: 2.5rem;
}

button {
  width: 100px;
  height: 34px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 80px;
  transition-duration: 400ms;
  border: none;
  margin-right: auto;
  margin-left: auto;
  &:hover:not(:disabled),
  :focus:not(:disabled) {
    transform: scale(1.1);
    text-decoration: underline;
  }
  &:disabled {
    background-color: var(--gray-color);
    color: var(--white-color);
  }
}
img {
  border-radius: 70px;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 70px 16px;
  max-width: 328px;

  & h1 {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    padding: 70px 32px;
    max-width: 704px;
  }
  @media screen and (min-width: 1024px) {
    padding: 70px 60px;
    max-width: 904px;
  }
  @media screen and (min-width: 2560px) {
    padding: 70px 696px;
    max-width: 1168px;
  }
}
